@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    
}

main{
    height: 100vh;
    background-color: blue;
    position: relative;
    
}


#phone{
    position: absolute;
    background-color: violet;
    height: 500px;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);


}